#form{
    display: flex; /* pour que les éléments soient alignés Verticalement */
    flex-direction: column;
    width: 75%; /* pour que le formulaire ne prenne pas toute la page */
}
#form .txt{
    margin: 0.5em;
    font-size: 1.5em;
}
#form .input{ /* pour les input */
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #051C24;
    max-width: 100%;
    min-height: 20px;
}
#form .items{ /* pour les select */
    font-size: 1.5em;
}
#form .button{ /* pour les boutons */
    margin: 0.25em; /* pour que les boutons ne soient pas collés */
    padding: 0.25em; 
    border-radius: 10px; /* pour arrondir les coins */
    background-color: #051C24;
    color: #007198;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.7s;
}

#form .button:hover{ /* pour les boutons */
    background-color: #007198;
    color: #051C24;
    transition: background-color 0.7s;
}

/* HIDE RADIO */
.note input {  
    position: absolute; /* pour que l'input soit cachée */
    width: 0;
    height: 0;

}

/* IMAGE STYLES */
.note img{
    filter: opacity(0.3);
    transition: filter 0.5s; /* pour la transition quand on selection ou non l'image */
}
.note img + input {
    cursor: pointer; /* pour que le curseur change quand on passe au dessus de l'image */
} 

/* CHECKED STYLES */
.note input:checked + img{
    filter: opacity(1);
}

.EmojoNoteDiv{ /* pour les émojis */
    display: flex;
    flex-direction: row; 
    justify-content: space-around; /* pour que les émojis soient espacés */
    width: 75%; 
}