/* 
#04BBFF
#0594D0
#007198
#003C57
#051C24
*/
/* On defini notre police */
body{
    margin: auto; 
    font-family: 'Roboto', sans-serif;
    background: #1a1a1a;
    height: 200vh;
    color : white;
}



/* MENU */
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #007198;
    font-size : 1.5em;
    position: fixed;
    height: 100%;
    width: 200px;
}
nav img{
    width: 50px;
    margin-top: 30px;
    align-self: center;
}
.menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

/* les items dans le menu */
.menu #top{
    justify-self: unset;
}

.menu .items{
    color: #051C24;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em;
    margin: 0.5em;
    transition: background-color 0.7s;
    
}
.menu .items:hover{
    background-color: #051C24;
    color : #007198;
}
/* Partie de droite */
main{
    margin-left: 200px; 
}
header{
    background-color: #003C57;
    color: #04BBFF;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    margin: auto;
}
aside{
    padding: 0.5em;
    height:auto;
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}