/* fichier css du formulaire */

form{ /* Pour le formulaire */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
form .txt{
    margin: 0.5em;
    font-size: 1.5em;
}
form .input{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #051C24;
    max-width: 100%;
    min-height: 20px;
}
form  .items{
    font-size: 1.5em;
}
form .button{
    min-width: 155px; /* Taille minimum en largeur du bouton */
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 10px;
    background-color: #051C24;
    color: #007198;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.7s;
}

form .button:hover{
    background-color: #007198;
    color: #051C24;
    transition: background-color 0.7s;
}

/* HIDE RADIO */
.note input { 
    position: absolute;
    width: 0;
    height: 0;

}

/* IMAGE STYLES */
.note img{
    filter: opacity(0.3);
    transition: filter 0.5s;
}
.note img + input {
    cursor: pointer; /* Pour que au survol de l'image, le curseur change*/
}

/* CHECKED STYLES */
.note input:checked + img{
    filter: opacity(1);
}

#emoji_div{  
    display: flex; /* Affichage en ligne */
    flex-direction: row;
    justify-content: space-around; /* Pour que les émojis soient espacés */
    align-self: center  ; /* Pour que les émojis soient centrés */
    width: 75%;
}
form #footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Pour que les boutons soient espacés */
}
#footer .button{ 
    width: 32.5%;
}