ul{
    list-style-type: none; /* enlève les puces */
    text-decoration: none; /* enlève le soulignement des liens */
}
/* le premier li dans le ul */

ul{
    margin: 0.5em; 
    padding: 0.5em;
    border-radius: 5px; 
}
.title{
    font-size: 2em; 
    font-weight: bold; /* on met en gras le texte */
}

.item{
    list-style-type: disc; /* on remet les puces mais que pour deuxième li*/
    margin-left: 2em;
    font-size: 1.5em;
}
a{
    color: #007198;
    text-decoration: underline; /* on souligne le texte */
    font-weight: bold; /* on met en gras le texte */
    transition: ease-in-out 0.3s;
}
a:hover{
    color: #003C57;
    transition: ease-in-out 0.3s;
}