body{
    height: 100%;
}

@keyframes haut-bas { /* animation pour le titre/Image */
    0%{
        opacity: 0;
        transform: translateY(-80%); /* pour que le titre/image arrive de haut */
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}   
.anim{ /* animation pour le titre */
    animation: haut-bas 1s ease-in-out; 
}

.EnteteImg{ /* image de l'entete */
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -200;
}

.imagefilm{ /* image du film */
    width:90%;
    position:relative; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

#ombre{ /* ombre de l'image */
    position:absolute; /* pour que l'ombre soit au dessus de l'image */
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:10; /* pour que l'ombre soit au dessus de l'image */
    background: linear-gradient(0deg,#1a1a1a,transparent 50%); /* dégradé de l'ombre */
    
}

.Titre{ /* titre du film */
    color: white;
    margin-left: 8%; /* pour que le titre soit aligné avec le reste du texte */
    margin-top: -10%; 
}
.Titre h1{ /* titre du film */
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -5px;
}
.petiteInfo{ /* petite info du film */
    display: flex; /* pour mettre les deux infos sur la même ligne */
    flex-direction: row; 
    align-items: center;
}

.informations{ /* informations du film */
    margin-left: 20%;
    margin-top: 7%;
    width: 70%;
}

.pegi{ /* image du pegi */
    font-size: 12px; 
    padding: 4px; /* taille du pegi */
    background-color: #007198; /* couleur du fond du pegi */
    border-radius: 3px;
}

table tbody tr th{ /* tableau */
    text-align: end;
}
table tbody tr td{ /* tableau */
    text-align:left;
    background-color: rgba(0,0,0,0.8); 
}
table thead tr th{ /* tableau */
    text-decoration: underline; /* soulignement du titre du tableau */
}
.tableau{ /* tableau */
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer{ /* footer */
    margin-left: 2%;
    padding-bottom: 20px;
}
.source{ /* source */
    margin-left: 2%;
}
a{ /* lien */
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in-out 0.3s; /* transition du lien */
}

a:hover{ /* lien survol*/
    color: #007198;
    text-decoration: underline;
    
}

@media (max-width: 768px){ /* responsive Telephone*/
    .informations{
        margin-left: 2%;
    }
}

@media (min-width: 2000px){ /* responsive Ipad*/
    .informations{
        margin-left: 10%;
    }
}