body{
    height: 100%;
}

@keyframes haut-bas { /* Animation de l'entête */
    0%{
        opacity: 0;
        transform: translateY(-80%); /* Animation de descente */
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}   
.anim{ /* Animation de l'entête */
    animation: haut-bas 1s ease-in-out;
}

.EnteteImg{ /* Image de l'entête */
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -200;
}

.imagefilm{ /* Image de l'entête */
    margin-top: 2%;
    width:70%;
    position:relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

#ombre{ /* Ombre de l'image de l'entête */
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:10; 
    background: linear-gradient(0deg,#1a1a1a,transparent 50%); /* Ombre vers le haut de l'entête */
    
}


.Titre{ /* Titre de l'entête */
    color: white;
    margin-left: 18%;
    margin-top: -10%; /* Pour que le titre soit au dessus de l'image */
}
.Titre h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -5px;
}
.petiteInfo{
    display: flex; /* Affichage en ligne */
    flex-direction: row; 
    align-items: center;
}

.informations{ /* Informations de l'entête - Synopsis */
    margin-left: 5%;
    margin-top: 7%;
}

.pegi{ /* PEGI de l'entête */
    font-size: 12px;
    padding: 4px; /* Espacement / taille du pegi */
    background-color: #007198;
    border-radius: 3px; /* Arrondi des coins */
}

table tbody tr th{  /* Tableau */
    text-align: end;
}
table tbody tr td{
    text-align:left;
    background-color: rgba(0,0,0,0.8);
}
table thead tr th{
    text-decoration: underline;
}
.tableau{
    margin-top: 60px;
    margin-left: 50px;
}
.footer{ /* Pied de page */
    margin-left: 2%;
    padding-bottom: 20px;
}
.source{
    margin-left: 2%;
}
a{ /* Lien */
    color: white;
    text-decoration: none; /* Enlever soulignement */
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

a:hover{ /* Lien survolé */
    color: #007198;
    text-decoration: underline;
    
}

@media (max-width: 768px){ /* Responsive Telephone*/
    .informations{
        margin-left: 2%;
    }
}

@media (min-width: 2000px){ /* Responsive Ipad*/
    .informations{
        margin-left: 10%;
    }
}